In [2]:
import pandas as pd

In [3]:
### Post-Episode 4 data ###
days_lasted = 9

rows = [
    ['Ben', 0, 7, 6, 4/9, 3.5],
    ['Charlie', 0, 9, 8, 4/9, 4.25],
    ['Hunter', 0, 7, 8, 6/9, 1.5],
    ['Jem', 0, 7, 8, 4/9, 3.25],
    ['Kenzie', 0, 8, 4, 1/9, 7.0],
    ['Liz', 0, 4, 4, 6/9, 2.25],
    ['Maria', 0, 8, 8, 4/9, 2.25],
    ['Moriah', 0, 4, 5, 4/9, 2.50],
    ['Q', 0, 6, 7, 1/9, 5.25],
    ['Soda', 0, 5, 6, 6/9, 2.75],
    ['Tevin', 0, 9, 7, 6/9, 3.25],
    ['Tiff', 1, 8, 7, 1/9, 7.0],
    ['Tim', 0, 3, 4, 4/9, 1.50],
    ['Venus', 0, 1, 4, 6/9, 3.25]
]

columns = [
    'contestant_name',
    'num_idols_possessed',
    'social_score',
    'strategy_score',
    'challenge_wins_per_day_lasted',
    "confessionals_per_epi"
]

df = pd.DataFrame(rows, columns=columns)

In [11]:
### Post-Episode 5 data ###
days_lasted = 11

rows = [
    ['Ben', 0, 7, 7, 4/days_lasted, 3.6],
    ['Charlie', 0, 9, 8, 4/days_lasted, 4.80],
    ['Hunter', 0, 7, 8, 7/days_lasted, 3.2],
    ['Kenzie', 0, 6, 4, 2/days_lasted, 6.4],
    ['Liz', 0, 4, 4, 7/days_lasted, 2.0],
    ['Maria', 0, 8, 7, 4/days_lasted, 2.2],
    ['Moriah', 0, 4, 4, 4/days_lasted, 2.4],
    ['Q', 0, 8, 8, 2/days_lasted, 5],
    ['Soda', 0, 4, 5, 7/days_lasted, 2.4],
    ['Tevin', 0, 8, 7, 7/days_lasted, 2.8],
    ['Tiff', 1, 8, 7, 2/days_lasted, 6.2],
    ['Tim', 0, 4, 5, 4/days_lasted, 2],
    ['Venus', 0, 1, 3, 7/days_lasted, 2.8]
]

columns = [
    'contestant_name',
    'num_idols_possessed',
    'social_score',
    'strategy_score',
    'challenge_wins_per_day_lasted',
    "confessionals_per_epi"
]

df = pd.DataFrame(rows, columns=columns)
df.to_csv("../data/current_season/season46_week5_inputs.csv")

In [3]:
### Post-Episode 6 data ###
days_lasted = 13
week = 6

rows = [
    ['Ben', 0, 7, 7, 5/days_lasted, 3.17],
    ['Charlie', 0, 8, 8, 4/days_lasted, 4.5],
    ['Hunter', 1, 8, 8, 8/days_lasted, 4],
    ['Kenzie', 0, 6, 5, 3/days_lasted, 6],
    ['Liz', 0, 4, 4, 7/days_lasted, 1.67],
    ['Maria', 0, 8, 7, 4/days_lasted, 2.17],
    ['Q', 0, 8, 8, 3/days_lasted, 5.67],
    ['Soda', 0, 4, 5, 7/days_lasted, 2.17],
    ['Tevin', 0, 8, 7, 8/days_lasted, 3.17],
    ['Tiff', 1, 8, 7, 2/days_lasted, 5.83],
    ['Tim', 0, 4, 4, 5/days_lasted, 2.67],
    ['Venus', 0, 1, 4, 7/days_lasted, 3.5]
]

columns = [
    'contestant_name',
    'num_idols_possessed',
    'social_score',
    'strategy_score',
    'challenge_wins_per_day_lasted',
    "confessionals_per_epi"
]

df = pd.DataFrame(rows, columns=columns)
df.to_csv(f"../data/current_season/season46_week{week}_inputs.csv")

In [4]:
from joblib import load
model = load('../src/models/trained/v2_random_forest/model.joblib')

In [5]:
aux_data = df[['contestant_name']]
features_df = df.drop(['contestant_name'], axis=1)

In [6]:
predictions = model.predict(features_df)
aux_data['predicted_prob'] = predictions

C:\Users\alowe\AppData\Local\Temp\ipykernel_38944\2183216991.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_data['predicted_prob'] = predictions

In [7]:
aux_data['predicted_rank'] = aux_data['predicted_prob'].rank(ascending=False, method='dense').astype(int)
aux_data['predicted_prob_normalized'] = aux_data['predicted_prob'] / aux_data['predicted_prob'].sum()

C:\Users\alowe\AppData\Local\Temp\ipykernel_38944\1523902476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_data['predicted_rank'] = aux_data['predicted_prob'].rank(ascending=False, method='dense').astype(int)
C:\Users\alowe\AppData\Local\Temp\ipykernel_38944\1523902476.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_data['predicted_prob_normalized'] = aux_data['predicted_prob'] / aux_data['predicted_prob'].sum()

In [8]:
aux_data[['contestant_name', 'predicted_rank']].sort_values(by='predicted_rank')

   contestant_name  predicted_rank
6                Q               1
9             Tiff               2
1          Charlie               3
2           Hunter               4
3           Kenzie               5
8            Tevin               6
0              Ben               7
5            Maria               8
7             Soda               9
4              Liz              10
10             Tim              11
11           Venus              12

In [9]:
all_data = pd.concat([aux_data[['contestant_name', 'predicted_rank', 'predicted_prob', 'predicted_prob_normalized']], features_df], axis=1)
all_data_sorted = all_data.sort_values(by='predicted_rank').reset_index(drop=True)

In [10]:
all_data_sorted

,contestant_name,predicted_rank,predicted_prob,predicted_prob_normalized,num_idols_possessed,social_score,strategy_score,challenge_wins_per_day_lasted,confessionals_per_epi
0,Q,1,0.682133,0.161913,0,8,8,0.230769,5.67
1,Tiff,2,0.630119,0.149567,1,8,7,0.153846,5.83
2,Charlie,3,0.569625,0.135208,0,8,8,0.307692,4.50
3,Hunter,4,0.450015,0.106817,1,8,8,0.615385,4.00
4,Kenzie,5,0.405293,0.096201,0,6,5,0.230769,6.00
5,Tevin,6,0.391569,0.092944,0,8,7,0.615385,3.17
6,Ben,7,0.314487,0.074648,0,7,7,0.384615,3.17
7,Maria,8,0.289670,0.068757,0,8,7,0.307692,2.17
8,Soda,9,0.147195,0.034939,0,4,5,0.538462,2.17
9,Liz,10,0.129174,0.030661,0,4,4,0.538462,1.67
10,Tim,11,0.120837,0.028682,0,4,4,0.384615,2.67
11,Venus,12,0.082842,0.019664,0,1,4,0.538462,3.50

In [11]:
all_data_sorted.to_csv(f"../data/current_season/season46_week{week}_predictions.csv")